.add-exp{
    display: block;
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(74, 186, 26);
    color: white;
    border: none;
    border-radius: 5px;
}

.rem-exp{
    display: block;
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(198, 24, 24);
    color: white;
    border: none;
    border-radius: 5px;
}

.date{
    display: flex;
    gap: 2em;
}

.experience-box{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.skills-div{
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 0.6em;
}

.About-Container{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}