.add-exp{
    display: block;
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(74, 186, 26);
    color: white;
    border: none;
    border-radius: 5px;
}

.date{
    display: flex;
    gap: 2em;
}

.experience-box{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
}

.skills-div{
    border: 1px solid;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin: 0.6em;
}

.About-Container{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}