*{
    box-sizing: border-box;
}

.Nav{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

section{
    display: flex;
    padding: 5px;
}

.Form-Section{
    min-height: 100%;
    width: 40%;
    overflow: auto;
}

.From-Container{
    border: 2px solid;
    margin: 10px;
}

.about{
    font-family: Montserrat;
}

.Resume-Section{
    padding: 2px;
    min-height: 100%;
    width: 60%;
    
}

.skl{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.resume {
    height: 210mm;
    width: 297mm;
   border: 1px solid;
    line-height: 1.2;
    box-shadow: 0 0 10px #0000002b;
    min-height: 100%;
    padding: 20px 85px 20px 85px ;
}

h1{
    font-family:Montserrat;
    font-size: 3rem;
    font-weight: 750;
    color: rgb(47, 47, 47);
    margin-bottom: 30px;
}


h2{
    font-family:Montserrat;
    font-size: 1.6rem;
    font-weight: 650;
    color: rgb(47, 47, 47);
}

h3{
    font-family:"Montserrat";
    font-weight: 600;
}
p:not(.about){
    font-family:Roboto;
    font-weight: 320;
    line-height: 1.2;
}
ul{
    font-family:Roboto;
    font-weight: 320;
}

.Navbar{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 400;
    padding: 5px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(124, 122, 122);

}


/*------ Sving resume in pdf ------*/
@page {
  size: A4;
  margin: auto;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  /* Hide everything */
  body * {
    visibility: hidden;
  }

  /* Show only CV preview */
  .Resume-Section,
  .Resume-Section *{
    top: 15px;
    visibility: visible;
  }

  .Resume-Section {
    position: absolute;
    margin: 0;
    box-sizing: border-box;
    width: 210mm;
    line-height: 1em;
  }
}

@media (max-width: 600px) {
  .Main{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .Form-Section, .Resume-Section {
    width: 100%;
    padding: 10px;

}


.Navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-btn{
    width: 8em;
    font-size: small;
}

section{
    flex-direction: column;
}

}

