
*{
    box-sizing: border-box;
}

/* Main styling */

.Main{
    display: flex;
}


.general-info{
    text-align: center;
    line-height: 0.8;
}

.form-section {
    border: 1px solid;
    min-height: 100%;
    width: 40%;
    overflow: auto;
}

.about{
    font-family: Montserrat;
}

.resume-section {
    min-height: 100%;
    width: 60%;
    padding: 10px;
}

.skl{

    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.resume {
   border: 1px solid;
    line-height: 1.2;
    box-shadow: 0 0 10px #0000002b;
    min-height: 100%;
    padding: 20px 85px 20px 85px ;
}

h1{
    font-family:Montserrat;
    font-size: 3rem;
    font-weight: 750;
    color: rgb(47, 47, 47);
    margin-bottom: 30px;
}


h2{
    font-family:Montserrat;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 650;
    color: rgb(47, 47, 47);
}

h3{
    font-family:"Montserrat";
    font-weight: 600;
}
p:not(.about){
    font-family:Roboto;
    font-weight: 320;
    line-height: 1.2;
}
ul{
    font-family:Roboto;
    font-weight: 320;
}

.Navbar{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 400;
    padding: 5px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(124, 122, 122);

}

@media (max-width: 600px) {
  .Main{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .form-section {
    width: 100%;
    padding: 10px;

}

.resume-section{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.resume{
    padding: 5px;
}

.Navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-btn{
    width: 8em;
    font-size: small;
}



}
