input{
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    margin: 5px;
}

textarea{
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    height: 12em;
    width: 95%;
    margin: 5px;
}

.General-container{
    border: 1px solid;
    margin:10px;
    border-radius: 8px;
    padding: 10px;
}

