.general-info{
    text-align: center;
    line-height: 0.8;
}

.border{
    border: 1px solid;
    padding: 20px 45px 20px 45px;
}

.education-container{
    display: flex;
    justify-content: space-between;
    
}


h1{
    font-family:Montserrat;
    font-size: 3rem;
    font-weight: 750;
    color: rgb(47, 47, 47);
    margin-bottom: 30px;
}


h2{
    font-family:Montserrat;
    font-size: 1.6rem;
    font-weight: 650;
    color: rgb(47, 47, 47);
}

h3{
    font-family:"Montserrat";
    font-weight: 600;
}

h4{
    font-family:Montserrat;

    font-weight: 600;
    color: rgb(47, 47, 47);
}
p:not(.about){
    font-family:Roboto;
    font-weight: 320;
    line-height: 1.2;
}
ul{
    font-family:Roboto;
    font-weight: 320;
}